[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
jsonschema = "<3"
structlog = "*"
python-dateutil = "*"
jsonpointer = "*"
eq-translations = {git = "https://github.com/ONSDigital/eq-translations.git",ref = "master"}

[dev-packages]

pytest = "*"
"flake8" = "*"
pylint = "*"
pylint-quotes = "*"


[requires]

python_version = "3.6"
