[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
jsonschema = "*"
structlog = "*"
python-dateutil = "*"


[dev-packages]

pytest = "==2.8.2"
"flake8" = "==3.4.1"
pylint = "==1.8.2"
pylint-quotes = "==0.1.6"


[requires]

python_version = "3.6"
