[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
attrs = "==19.2.0"
jsonpointer = "*"
eq-translations = {editable = true,git = "https://github.com/ONSDigital/eq-translations.git",ref = "v2.0.0"}
structlog = "*"
python-dateutil = "*"
jsonschema = "*"
jsonpath-rw = "*"
jsonpath-rw-ext = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pylint = "*"
pylint-quotes = "*"
black = "==19.3b0"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"

[requires]
python_version = "3.9"
