[tool.black]
target_version = ['py38']

[tool.poetry]
name = "eq-questionnaire-validator"
version = "0.1.0"
description = "API for questionnaire schema validation"
authors = ["ONSDigital"]

[tool.poetry.dependencies]
python = "^3.11"
Flask = "^2.3.3"
jsonpointer = "^2.4"
structlog = "^23.1.0"
python-dateutil = "^2.8.2"
jsonschema = "4.4.0"
jsonpath-rw = "^1.4.0"
jsonpath-rw-ext = "^1.2.2"
eq-translations = {git = "https://github.com/ONSDigital/eq-translations.git", rev = "v4.9.2"}
fastapi = "^0.113.0"
uvicorn = "^0.30.6"

[tool.poetry.dev-dependencies]
pytest = "^7.4.2"
flake8 = "^6.1.0"
pylint = "^2.17.5"
pylint-quotes = "^0.2.3"
pytest-cov = "^4.1.0"
pytest-xdist = "^3.3.1"
pytest-sugar = "^0.9.4"
black = "^24.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
