name: PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: actions/setup-node@v1
        with:
          node-version: "12.14.1"
      - run: |
          echo "PYTHON_VERSION=$(python -c 'import platform; print(platform.python_version())')" >> $GITHUB_ENV

      - name: Get yarn cache
        id: get-yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn modules
        id: cache-yarn
        uses: actions/cache@v1
        with:
          path: ${{ steps.get-yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        run: yarn install

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: cached-poetry-dependencies
        id: cache
        uses: actions/cache@v2
        with:
          path: ~/.virtualenvs
          key: ${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run:
          poetry config virtualenvs.path ~/.virtualenvs
          poetry install --no-interaction

      - name: Lint Python
        run: make lint

      - name: Run unit tests
        run: make test
  #  test-unit:
  #    needs: lint
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v2
  #      - run: |
  #          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV
  #      - uses: actions/setup-python@v2
  #        with:
  #          python-version: ${{ env.PYTHON_VERSION }}
  #      - run: |
  #          echo "PYTHON_VERSION=$(python -c 'import platform; print(platform.python_version())')" >> $GITHUB_ENV
  #      - name: Install pipenv
  #        run: pip install pipenv==2018.11.26
  #      - name: Cache virtualenv
  #        id: cache-virtualenv
  #        uses: actions/cache@v1
  #        with:
  #          path: ~/.local/share/virtualenvs/
  #          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-virtualenvs-${{ hashFiles('Pipfile.lock') }}
  #      - name: Install virtual environment
  #        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
  #        run: pipenv install --dev
  #      - name: Running unit tests
  #        run: make test
  docker-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Tag
        run: echo "TAG=${{ github.event.pull_request.head.ref }}" > $GITHUB_ENV
      - name: Build
        run: |
          docker build -t onsdigital/eq-questionnaire-validator:$TAG .
          docker build -f Dockerfile-ajv -t onsdigital/eq-questionnaire-validator:$TAG-ajv .
      - name: Push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "Pushing with tag [$TAG]"
          docker push onsdigital/eq-questionnaire-validator:$TAG
          echo "Pushing with tag [$TAG-ajv]"
          docker push onsdigital/eq-questionnaire-validator:$TAG-ajv
