name: Release

on:
  release:
    types: [published]

jobs:
  docker-push:
    runs-on: ubuntu-22.04
    env:
      TAG: ${{ github.event.release.tag_name }}
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          docker build -t onsdigital/eq-questionnaire-validator:$TAG .
          docker build -f Dockerfile-ajv -t onsdigital/eq-questionnaire-validator:$TAG-ajv .

      - name: Push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "Pushing with tag [$TAG]"
          docker push onsdigital/eq-questionnaire-validator:$TAG
          echo "Pushing AJV validator with tag [$TAG-ajv]"
          docker push onsdigital/eq-questionnaire-validator:$TAG-ajv
